     <% @posts.each do |post| %>

        <article class="post-item box">
          <!--End post content -->
          <div class="post-det">
            <h3>
              <a href="<%= url_for(controller: 'home', action: 'post', id: post.id, only_path: true) %>" title="<%= post.title %>">
              <strong><%= post.title %></strong>
              </a>
              <!-- End post meta -->
            </h3>
  
            <% unless (post.image.blank?) %>
              <div class="post-img">
                <img src="<%= image_path(post.image.image.url(:medium)) %>" alt="<%= post.title %>">
              </div>
            <% end %>

            <div class="post-entry-content" style="padding-top: 25px">
            <p><%= truncate(post.content.body , length: 500) %></p>
              <p>
              <%= link_to 'Read More →' , { controller: 'home', action: 'post', id: post.id } , class: 'read-more' %>
              </p>
            </div>
            <!-- end post entry contnet-->
          </div>
          <!-- end post det-->
          <div class="post-footer">
            <div class="clearfix">
              <time><%= post.created_at.strftime("%B %d, %Y - %H:%M:%S") %></time>
              <span>
              <% post.tags.each do |tag| %>
                  <%= link_to tag , controller: 'home' , action: 'show' , tag: tag %>
              <% end %>
              </span>
            </div>
          </div>
          <!-- end post footer-->
        </article>

      <% end %>