      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
 
                  <li class="mt">
                      <a class="<%= @active_index %>" href="<%= pIndex_url %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="<%= @active_post %>" href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Posts</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'New Posts' , controller: 'panel' , action: 'postNew' , show: :new %></li>
                          <li><%= link_to 'All Posts' , controller: 'panel' , action: 'post' , show: :all %></li>
                          <li><%= link_to 'Active Posts' , controller: 'panel' , action: 'post' , show: :active %></li>
                          <li><%= link_to 'Passive Posts' , controller: 'panel' , action: 'post' , show: :passive %></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a class="<%= @active_contact %>" href="javascript:;" >
                          <i class="fa fa-comments-o"></i>
                          <span>Contacts</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'All Contacts' , controller: 'panel' , action: 'contact' , show: :all %></li>
                          <li><%= link_to 'Read Contacts' , controller: 'panel' , action: 'contact' , show: :read %></li>
                          <li><%= link_to 'Unread Contacts' , controller: 'panel' , action: 'contact' , show: :unread %></li>
                      </ul>
                  </li>

                  <li class="sub">
                      <a class="<%= @active_aboutPage %>" href="<%= pAboutPage_url %>">
                          <i class="fa fa-life-ring"></i>
                          <span>About Page</span>
                      </a>
                  </li>

                  <li class="sub">
                      <a class="<%= @active_contactPage %>" href="<%= pContactPage_url %>">
                          <i class="fa fa-phone"></i>
                          <span>Contact Page</span>
                      </a>
                  </li>
                
                  <li class="sub-menu">
                      <a class="<%= @active_categories %>" href="javascript:;">
                          <i class="fa fa-flag"></i>
                          <span>Categories</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'New Category' , controller: 'panel' , action: 'categoryNew' %></li>
                          <li><%= link_to 'All Categories' , controller: 'panel' , action: 'categories' %></li>

                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>