  <body>
    <div id="page" class="clearfix">

    <%= render partial: 'partials/header' %>

    <%= render partial: 'partials/header_sub_menu' %>

      <section id="content-holder" class="clearfix">
        <main class="content">

      <%= render partial: 'partials/post_content' %>

      <%= render partial: 'partials/pagination' %>

        </main>
        <!-- EndContent-->

      <%= render partial: 'partials/sidebar' %>
     
      </section>
      <!-- EndContentHolder-->