  <body>
    <div id="page" class="clearfix">

    <%= render partial: 'partials/home/header' %>

    <%= render partial: 'partials/home/header_sub_menu' %>

      <section id="content-holder" class="clearfix">
        <main class="content">
          <article class="post-item box">
            <!--End post content -->
            <div class="post-det">
              <h3>
                <a href="#" title="">
                <strong><%= @post.title %></strong></a>
                <!-- End post meta -->
              </h3>

            <% unless (@post.image.blank?) %>
              <div class="post-img">
                <img src="<%= image_path(@post.image.image.url(:medium)) %>" alt="<%= @post.title %>">
              </div>
            <% end %>

              <div class="post-entry-content" style="padding-top: 25px">
                <p><%= @post.content.body %></p>
              </div>

              <!-- end post entry contnet-->
            </div>
            <!-- end post det-->
            <div class="post-footer">
              <div class="clearfix">
                <time datetime="2014-10-14"><%= @post.created_at.strftime("%B %d, %Y - %H:%M:%S") %></time>
                <span>
                 <% @post.tags.each do |tag| %>
                    <%= link_to tag , tag_home_index_url(tag) %>
                <% end %>
                </span>
              </div>
            </div>
            <!-- end post footer-->
          </article>
          <!-- end Post wrap -->
        </main>
        <!-- EndContent-->

      <%= render partial: 'partials/home/sidebar' %>

      </section>
      <!-- EndContentHolder-->