              <div class="row mt">
                  <div class="col-md-12">
                  <h4><i class="fa fa-angle-right"></i> <%= @contact.subject %></h4>

                      <div class="content-panel">
                     <form role="form">

                          <div class="form-group col-md-8">
                            <label for="title"><strong>Name:</strong></label>
                            <%= @contact.name %>
                          </div>

                        <div class="clearfix"></div>

                          <div class="form-group col-md-8">
                            <label for="title"><strong>Email:</strong></label>
                            <%= @contact.email %>
                          </div>

                        <div class="clearfix"></div>

                          <div class="form-group col-md-8">
                            <label for="title"><strong>Subject:</strong></label>
                            <%= @contact.subject %>
                          </div>

                        <div class="clearfix"></div>

                         <div class="form-group col-md-8">
                          <label for="content"><strong>Content:</strong></label>
                          <p><%= @contact.message %></p>
                        </div>

                      <div class="clearfix"></div>

                        <div class="form-group col-md-8">
                            <label for="tags"><strong>Status:</strong></label>
                            <%= @contact.status ? 'read' : 'unread' %>
                          </div>

                      <div class="clearfix"></div>

                        <div class="form-group col-md-8">
                            <label for="tags"><strong>Date / Time:</strong></label>
                            <%= @contact.created_at.strftime("%B %d, %Y - %H:%M:%S") %>
                          </div>

                      <div class="clearfix"></div>
                        
                        <div class="form-group col-md-8">
                          <%= link_to 'Back', :back , {'class' => 'btn btn-primary'} %>
                        </div>
                      
                      <div class="clearfix"></div>

                      </form>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
