
              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                  	<div class="row mtbox">
                  		<div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                  			<div class="box1">
					  			<span class="fa fa-tasks fa-4"></span>
					  			<h3><%= @total_post_count %></h3>
                  			</div>
					  			<p>You have <%= @total_post_count %> posts</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="fa fa-flag fa-4"></span>
					  			<h3><%= @total_category_count %></h3>
                  			</div>
					  			<p>You have <%= @total_category_count %> categories.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="fa fa-comments-o fa-4"></span>
					  			<h3><%= @total_contact_count %></h3>
                  			</div>
					  			<p>You have <%= @total_contact_count %> messages in your inbox.</p>
                  		</div>
                  	
                  	</div><!-- /row mt -->	
                                      
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
              </div> <!--/row -->