<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>GreenFish - Dashboard Panel</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    'panel/bootstrap', 'data-turbolinks-track' => true %>
    
    <!--external css-->
    <%= stylesheet_link_tag    'panel/font-awesome/css/font-awesome', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'panel/zabuto_calendar', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'panel/gritter/jquery.gritter', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'panel/lineicons/style', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'panel/fancybox/jquery.fancybox', 'data-turbolinks-track' => true %>
    
    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag    'panel/style', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'panel/style-responsive', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'panel/chart-master/Chart', 'data-turbolinks-track' => true %>
    
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

  <section id="container" >

      <!--header start-->

      <%= render partial: 'partials/panel/header' %>

      <!--header end-->
      
      <!--sidebar start-->

      <%= render partial: 'partials/panel/sidebar' %>

      <!--sidebar end-->
      
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <%= yield %>
          </section>
      </section>

      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'panel/jquery', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'panel/jquery-1.8.3.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'panel/bootstrap.min', 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag 'panel/jquery.dcjqaccordion.2.7', 'class' => 'include' , 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'panel/jquery.scrollTo.min', 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag 'panel/jquery.nicescroll', 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag 'panel/jquery.sparkline', 'data-turbolinks-track' => true %> 

    <!--common script for all pages-->
    <%= javascript_include_tag 'panel/common-scripts', 'data-turbolinks-track' => true %> 

    <%= javascript_include_tag 'panel/gritter/jquery.gritter', 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag 'panel/gritter/gritter-conf', 'data-turbolinks-track' => true %> 
    
    <!--script for this page-->
    <%= javascript_include_tag 'panel/sparkline-chart', 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag 'panel/zabuto_calendar', 'data-turbolinks-track' => true %> 

    <%= javascript_include_tag 'panel/fancybox/jquery.fancybox', 'data-turbolinks-track' => true %> 

  <script type="text/javascript">
      $(function() {
        //fancybox
          jQuery(".fancybox").fancybox();
      });

  </script>

  </body>
</html>
